.c-timestamp-editor {

}
.c-color-options {

}
.c-goal-area {

}
.c-goals {

}
.c-goal-creator {

}
.c-goal-inputs {

}
.c-task-icons {

}
.c-icon-option {

}
.c-task-icons-popup {

}
.c-task-area {

}
.c-task-option {

}
.c-task-option-group {

}
.c-new-task {

}
.c-task-and-goal-area {

}
.c-progress-bar {

}
.c-task-display-goal {

}
.c-task-display-time {

}
.c-task-display-time-main {

}
.c-task-display-text {

}
.c-task-display-goals {

}
.c-task {

}
.c-task-frequency {

}
.c-task-column-1 {

}
.c-task-column-2 {

}
.c-task-text {

}
.c-tasks {width: 45%;}
.c-dashboard {

}
.c-dashboard-main {

}
.c-day {

}
.c-day-body {

}
.c-day-title {

}
.c-day-titles {

}
.c-time-block-content {

}
.c-time-graph-line {

}
.c-time-graph {

}
.c-week {

}
.c-calendar {

}
.c-fieldset-auth {margin-bottom: 1rem;text-align: left;}
.c-app {

}
.c-home {text-align: center;margin: 0 auto;max-width: 880px;width: 90%;}
.c-navbar {

}
/* Small */

@media (min-width: 600px) {
    .c-timestamp-editor {
        
    }
    .c-color-options {
        
    }
    .c-goal-area {
        
    }
    .c-goals {
        
    }
    .c-goal-creator {
        
    }
    .c-goal-inputs {
        
    }
    .c-task-icons {
        
    }
    .c-icon-option {
        
    }
    .c-task-icons-popup {
        
    }
    .c-task-area {
        
    }
    .c-task-option {
        
    }
    .c-task-option-group {
        
    }
    .c-new-task {
        
    }
    .c-task-and-goal-area {
        
    }
    .c-progress-bar {
        
    }
    .c-task-display-goal {
        
    }
    .c-task-display-time {
        
    }
    .c-task-display-time-main {
        
    }
    .c-task-display-text {
        
    }
    .c-task-display-goals {
        
    }
    .c-task {
        background-color: #fff;
        width: 100%;
    }
    .c-task-frequency {
        
    }
    .c-task-column-1 {
        
    }
    .c-task-column-2 {
        
    }
    .c-task-text {
        
    }
    .c-tasks {
        
    }
    .c-dashboard {
        
    }
    .c-dashboard-main {
        padding: 4rem;
        max-width: 1300px;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
    }
    .c-day {
        
    }
    .c-day-body {
        
    }
    .c-day-title {
        
    }
    .c-day-titles {
        
    }
    .c-time-block-content {
        
    }
    .c-time-graph-line {
        
    }
    .c-time-graph {
        
    }
    .c-week {
        
    }
    .c-calendar {
        
    }
    .c-fieldset-auth {
        
    }
    .c-app {
        
    }
    .c-home {
        
    }
    .c-navbar {
        display: flex;
        justify-content: space-between;
        padding: 1.5rem 2.5rem;
        z-index: 8000;
        align-items: center;
    }
} /* Medium */

@media (min-width: 900px) {
    .c-timestamp-editor {
        
    }
    .c-color-options {
        
    }
    .c-goal-area {
        
    }
    .c-goals {
        
    }
    .c-goal-creator {
        
    }
    .c-goal-inputs {
        
    }
    .c-task-icons {
        
    }
    .c-icon-option {
        
    }
    .c-task-icons-popup {
        
    }
    .c-task-area {
        
    }
    .c-task-option {
        
    }
    .c-task-option-group {
        
    }
    .c-new-task {
        
    }
    .c-task-and-goal-area {
        
    }
    .c-progress-bar {
        
    }
    .c-task-display-goal {
        
    }
    .c-task-display-time {
        
    }
    .c-task-display-time-main {
        
    }
    .c-task-display-text {
        
    }
    .c-task-display-goals {
        
    }
    .c-task {
        
    }
    .c-task-frequency {
        
    }
    .c-task-column-1 {
        
    }
    .c-task-column-2 {
        
    }
    .c-task-text {
        
    }
    .c-tasks {
        
    }
    .c-dashboard {
        
    }
    .c-dashboard-main {
        
    }
    .c-day {
        
    }
    .c-day-body {
        
    }
    .c-day-title {
        
    }
    .c-day-titles {
        
    }
    .c-time-block-content {
        
    }
    .c-time-graph-line {
        
    }
    .c-time-graph {
        
    }
    .c-week {
        
    }
    .c-calendar {
        
    }
    .c-fieldset-auth {
        
    }
    .c-app {
        
    }
    .c-home {
        
    }
    .c-navbar {
        
    }
} /* Large */

@media (min-width: 1200px) {
    .c-timestamp-editor {
        
    }
    .c-color-options {
        
    }
    .c-goal-area {
        
    }
    .c-goals {
        
    }
    .c-goal-creator {
        
    }
    .c-goal-inputs {
        
    }
    .c-task-icons {
        
    }
    .c-icon-option {
        
    }
    .c-task-icons-popup {
        
    }
    .c-task-area {
        
    }
    .c-task-option {
        
    }
    .c-task-option-group {
        
    }
    .c-new-task {
        
    }
    .c-task-and-goal-area {
        
    }
    .c-progress-bar {
        
    }
    .c-task-display-goal {
        
    }
    .c-task-display-time {
        
    }
    .c-task-display-time-main {
        
    }
    .c-task-display-text {
        
    }
    .c-task-display-goals {
        
    }
    .c-task {
        
    }
    .c-task-frequency {
        
    }
    .c-task-column-1 {
        
    }
    .c-task-column-2 {
        
    }
    .c-task-text {
        
    }
    .c-tasks {
        
    }
    .c-dashboard {
        
    }
    .c-dashboard-main {
        
    }
    .c-day {
        
    }
    .c-day-body {
        
    }
    .c-day-title {
        
    }
    .c-day-titles {
        
    }
    .c-time-block-content {
        
    }
    .c-time-graph-line {
        
    }
    .c-time-graph {
        
    }
    .c-week {
        
    }
    .c-calendar {
        
    }
    .c-fieldset-auth {
        
    }
    .c-app {
        
    }
    .c-home {
        /* text-align: center; */
        /* margin: 0 auto; */
        /* max-width: 880px; */
    }
    .c-navbar {
    }
} /* xLarge */