.icn-timeblock {height: 1.4rem;width: 1.4rem;position: absolute;top: -0.1rem;r;right: -0.5rem;}
.icn-task-chosen {width: 1.3rem;}
.icn-task {cursor: pointer;margin-right: 1rem;width: 2rem;height: 2rem;transition: all .3s;}

img.icn-task:hover {
    transform: scale(1.2);
}
.icn-task:last-child {margin-right: 0;}
.icn-lock {height: 0.9rem;width: 0.9rem;margin-left: 0.6rem;}
.icn-dashboard {
    width: 1.7rem;
}
.icn-record, .icn-streak {margin-right: 0.4rem;}
.icn-streak {width: 1.9rem;}
.icn-record {width: 1.5rem;}
.icn-calendar {width: 1.45rem;}
.icn-signout {width: 1.45rem;top: 1.5px;}