.img-timestamp-editor-task-icon {height: 2rem;width: 2rem;margin-right: 0.6rem;}
.img-task-display-icon {height: 2.7rem;width: 2.7rem;margin-right: 1.5rem;}
.img-task-icon {margin-right: 1rem;height: 2.3rem;width: 2.3rem;}
.img-logo {
    /* margin-bottom: 1rem; */
    width: 4em;
    /* height: 1.7rem; */
}
.img-navbar {
    width: 2rem;
}
.img-checkmark-circle {

}