.shape-time-blocks {

}
.shape-dashboard-divider {height: 400px;border-left: 1px solid #ddd;}
.shape-time-block {flex-grow: 1;cursor: pointer;padding: 0.3rem 1rem;/* width: 100%; */z-index: 8010;/* position: absolute; */}
.shape-current-time-line {background-color: red;height: 2px;width: 100%;position: absolute;z-index: 0;}
.shape-loader {position: absolute !important;right: -3.6rem;top: -33%;%/* transform: translate3d(-100%, -50%, 0) !important; */}
.shape-progress-bar-elapsed {background-color: #c6ffc6;height: 100%;position: absolute;}
.shape-progress-bar-completed {background-color: #92ef92;height: 100%;position: absolute;transition: all .3s;}
.shape-navbar-divider {
    background-color: #ccc;
    height: 22px;
    left: -1rem;
    top: -7%;
    width: 1px;
    margin: 0 0.6rem;
}